<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>CocoaHeads Berlin - {{ page.title }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link rel="shortcut icon" href="/favicon.ico">
	
	<!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->

	<!-- The 1140px Grid - http://cssgrid.net/ -->
	<link rel="stylesheet" href="css/1140.css" type="text/css" media="screen" />
	
	<!-- Your styles -->
	<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />
	
	<link href='http://fonts.googleapis.com/css?family=Carter+One|EB+Garamond|Droid+Sans:400,700' rel='stylesheet' type='text/css'>
	
	<!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
	<script type="text/javascript" src="/js/css3-mediaqueries.js"></script>
    <script type="text/javascript" src="/js/codekollektiv.js"></script>
</head>


<body>
	
	<div id="wrapper">
		<div class="container">
			<div class="row">
				{{ content }}
			</div>
		</div>
	</div>

</body>

</html>